<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head">
</head>
<body class="container">
<header></header>

<h1>All Events</h1>
    <table class="table table-striped">
        <tr>
            <th>Event Name</th>
            <th>Description</th>
            <th>Address</th>
            <th>Pictures</th>
        </tr>
        <th:block th:each="event : ${events}">
            <tr>
                <td th:text="${event.key}"></td>
                <td th:text="${event.value}"></td>
                <th:block th:if='${event.key.equals("Menteaship")}'>
                    <td th:replace="fragments :: address"></td>
                </th:block>
                <th:block th:if='${event.key.equals("Code With Pride")}'>
                    <td th:replace="fragments :: cesAddress"></td>
                </th:block>
                <th:block th:if="${event.key.equals('Javascripty')}">
                    <td th:replace="fragments :: strangeLoopAddress"></td>
                </th:block>

            </tr>
        </th:block>
    </table>
</body>
</html>